---
title: Imprint
---

<section>
  <div class="container">

    <div class="col-8 offset-2">
      <h2>Imprint</h2>
      <hr>
      <p class="text--grey-4" style="margin-bottom: 2rem;">
        This website is administered by Frers Ltd.<br>
        <br>
        Frers Ltd<br>
        208 Mill Rd<br>
        Cambridge<br>
        CB1 3NF<br>
        United Kingdom<br>
        <br>
        Companies House: 08744847<br>
        <br>
        E-mail: info@work-api.com<br>
        Web: www.work-api.com
      </p>
    </div>

  </div>
</section>
