---
title: Use of logos
---

<section class="u-bg--grey-1 logo-usage">
  <div class="container">

    <div class="col-12">
      <h4><%= data.site.logos_tagline.gsub('%year%', (Time.now.strftime "%Y")) %></h4>
    </div>

  </div>
</section>
