section {
  padding-top: 96px;
  padding-bottom: 96px;
  transition: all 0.3s ease;

  @media only screen and (max-width: 640px) {
    padding-top: 30px;
    padding-top: 30px;
  }
}

// relates to navigation active state
@media only screen and (min-width: 800px) {
  .is-slid {
    transform: translateX(180px);
    transition-duration: 0.7s;
  }
}

.section--double {
  padding-top: 192px;
  padding-bottom: 192px;
}

.section--half {
  padding-top: 48px;
  padding-bottom: 48px;
}

.section--full {
  min-height: 100vh;
}

.section--border-bottom {
  border-bottom: 1px solid $grey-2;
}

.row {
  margin-bottom: 4rem;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

[class*='col-'] {
  width: 100%;
  float: left;
  box-sizing: border-box;
  @media only screen and (max-width: 850px) {
    margin-bottom: 40px;
  }
}

//  For devices larger than 400px
@media (min-width: 600px) {
  .container {
    width: 85%;
    padding: 0; }
}

//  For devices larger than 550px
@media (min-width: 850px) {
  .container {
    width: 80%;
  }
  
  [class*='col-'] {
    margin-left: 4%;
    &:first-child {
      margin-left: 0;
    }
  }

  .col-1             { width: 4.66666666667%; }
  .col-2             { width: 13.3333333333%; }
  .col-3             { width: 22%;            }
  .col-4             { width: 30.6666666667%; }
  .col-5             { width: 39.3333333333%; }
  .col-6             { width: 48%;            }
  .col-7             { width: 56.6666666667%; }
  .col-8             { width: 65.3333333333%; }
  .col-9             { width: 74.0%;          }
  .col-10            { width: 82.6666666667%; }
  .col-11            { width: 91.3333333333%; }
  .col-12            { width: 100%; margin-left: 0; }

  //  Offsets
  [class*='col-'] {
    &.offset-1          { margin-left: 8.66666666667%; }
    &.offset-2          { margin-left: 17.3333333333%; }
    &.offset-3          { margin-left: 26%;            }
    &.offset-4          { margin-left: 34.6666666667%; }
    &.offset-5          { margin-left: 43.3333333333%; }
    &.offset-6          { margin-left: 52%;            }
    &.offset-7          { margin-left: 60.6666666667%; }
    &.offset-8          { margin-left: 69.3333333333%; }
    &.offset-9          { margin-left: 78.0%;          }
    &.offset-10         { margin-left: 86.6666666667%; }
    &.offset-11         { margin-left: 95.3333333333%; }
  }
}
