.redoc-wrap {
  letter-spacing: initial;  

  p {
    color: $grey-4;
  }

  [data-section-id$='_model'] {
    .collapser {
      display: none;
    }
    .ellipsis {
      display: none !important;
    }
    .collapsible {
      display: block !important;
    }
  }
}
