---
layout: guides-layout
title: Guides | Why Beta? 
---
<div class="body-content dflex--order-2">
  <section class="u-bg--grey-1">
    <div class="container">

      <h1>Why Beta?</h1>
      <hr />

      <p>Work-API is currently in public a public <strong>beta</strong> phase.</p>
      <p>While in <strong>beta</strong> the service and it's documentation may be subject to change as we fine tune the system, add new features, and tweak existing ones.</p>
      <p>The Work-API team will endeavour to document all changes as they are released.</p>
      <p>TODO: write something about welcoming help from users via updates to the public docs repo, etc.</p>
      <p>TODO: Include disclaimer in site T&amp;Cs about right to make changes to the service without notice (if not there already)</p>
    </div>
  </section>
</div>

