---
layout: guides-layout
title: Guides | Creating an account 
next_steps:
  create-environment: Create an Environment
---
<div class="body-content dflex--order-2">
  <section class="u-bg--grey-1">
    <div class="container">
      <h1>Creating an account</h1>
      <hr />

      <p>Before writing any code, we need to create an account on the Work API dashboard. </p>

      <p>Visit <a href="http://alpha.work-api.com">http://alpha.work-api.com</a>, click sign-up, and follow the instructions.</p>

      <p>The free tier allows up to <%= data.site.free_tier_requests %> requests per month for no cost. After that you are only charged for what you use.</p>

      <p>The sign-up process is straight forward and allows you to jump straight in to setting up your first environment.</p>

      <p>TODO: add screengrabs once styled</p>

      <%= partial 'partials/guides/next-steps' %>
    </div>
  </section>
</div>
