<div class="fixed-top">
  <img width="150" class="logo-name" src="/media/img/logo-large.png" />
  <img width="25" class="beta" src="/media/img/beta.png" />
  <div class="fixed-cta">
    <a class="" href="<%= data.site.login_path %>">Sign In</a>
    <a class="btn btn--brand" href="<%= data.site.register_path %>">Try it free</a>
  </div>
</div>
