
<section class="u-bg--grey-1">
  <div class="container">

    <div class="row text--center">
      <h1><%=data.site.register_btn_long%></h1>
    </div>

    <div class="col-6 offset-3 u-text--center">
      <a class="btn btn--brand btn--large text--heavy" href="<%= data.site.register_path %>">Try it free</a>
    </div>

  </div>
</section>
<!-- /footer cta -->
