<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80635047-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-80635047-4');
</script>

<header class="header" id="site_header">
  <nav class="primary-nav">
    <% data.site.primary_nav.each do |nav| %>
      <a <%= %{target="#{nav.target}"} if nav.target %>class="primary-nav__link <%= 'active' if active?(nav.path, level: 1) %>" href="<%= nav.path %>"><%= nav.label %></a>
    <% end %>      
  </nav>
</header>
<!-- /header -->
