<div class="row">
  <% data.partials.product_usps.cards.each do |card| %>
    <div class="col-4">
      <img src="/media/img/<%=card.icon%>" width="32">
      <h3 class="gamma"><%=card.title%></h3>
      <hr>
      <p class="text--grey-4"><%=card.body%></p>
    </div>
  <% end %>
</div>
