---
title: Contact Us
---

<section class="u-bg--grey-1">
  <div class="container">

    <div class="row text--center">
      <h1>Contact Us</h1>
    </div>

    <div class="col-6 offset-3 u-text--center">
      <div class="js-before-send">
        <form id="contact_form" action="//formspree.io/xldvojwx" method="POST">
          <ul class="form-fields">
            <li>
              <label class="label label--floating" data-label-text="Full Name">
                <input
                  name="name"
                  class="input--text input--block"
                  type="text"
                  placeholder="Full name" required>
              </label>
            </li>

            <li>
              <label class="label label--floating" data-label-text="Email">
                <input
                  name="_replyto"
                  class="input--text input--block"
                  type="text"
                  placeholder="Your email" required>
              </label>
            </li>

            <li>
              <label class="label label--floating" data-label-text="Subject">
                <input
                  name="_subject"
                  class="input--text input--block"
                  type="text"
                  placeholder="Subject" required>
                </label>
            </li>

            <li>
              <label class="label label--floating" data-label-text="Subject">
                <textarea
                  name="message"
                  class="input--text input--block"
                  rows="8"
                  placeholder="Your message" required></textarea>
                </label>
            </li>

            <li>
              <input type="hidden" name="_next" value="/contact/thanks" />
              <input type="hidden" name="_format" value="plain" />
              <input type="text" name="_gotcha" style="display:none">
              <input class="btn btn--primary btn--large" type="submit" value="Send Message">
            </li>
          </ul>
        </form>
      </div>

    </div>

  </div>
</section>
