---
layout: guides-layout
title: Guides | Overview 
---
<div class="body-content dflex--order-2">
  <section class="u-bg--grey-1">
    <div class="container">

      <h1>Overview</h1>
      <hr />

      <p class="text--grey-4 mb-2">The Work API provides broad access to many of the work tools we all use on a day-to-day basis. In this guide we will walk through the process to get set up on the platform and make our first calls to the API. </p>
      <p class="text--grey-4 mb-2">The guide will initially only cover the process using the Work API Ruby SDK, but will be expanded later to cover other languages as we add support. </p>

      <% partial('partials/guides/info-panel', locals: { type: 'note' }) do %>
        These guides, and the API itself, are in BETA and so under constant review. If you come across any mistakes or omissions, please create an issue on our <a href="https://github.com/Work-API/developers.work-api.com" target="_blank">GitHub repo</a> and we'll get it fixed.
      <% end %>
    </div>
  </section>
</div>
