---
title: Security
---

<section class="hero security__hero">
  <div class="container">

    <div class="col-12 text--white u-text--center">
      <h1 class="kilo">Security</h1>
    </div>

  </div>
</section>

<section>
  <div class="container">

    <div class="col-8 offset-2">
      <h2>Security at <%= data.site.name %></h2>
      <hr>
      <p class="text--grey-4" style="margin-bottom: 2rem;">We place utmost importance on the security of your data and fully recognize our responsibilities in this regard. To that end our technical team is implementing the latest security technologies.</p>

      <p class="text--grey-4" style="margin-bottom: 2rem;">
        All of our suppliers are certified to the highest standards in information
        security, such as ISO 27001, and we maintain a continuous audit of our own
        internal security to ensure your information remains private.
      </p>

      <p class="text--grey-4">
        Please review our <a href="/privacy">Privacy Policy</a> to learn more about this topic.
      </p>
    </div>

  </div>
</section>
