---
layout: guides-layout
title: Guides | Create an Integration 
prerequisites:
  create-account: Create a Developer Account 
  create-environment: Create an Environment
  create-user: Create a User 
---

<div class="body-content dflex--order-2">
  <section class="u-bg--grey-1">
    <div class="container">
      <h1>Creating an Integration</h1>
      <hr />

      <%= partial 'partials/guides/prerequisites' %>

      <div id="overview">
        <h3 class="guide--anchor"><a href="#overview">Overview</a></h3> 

        <p>An integration contains the access tokens which are issued by the 3rd-party service and allow Work-API to access those servies on behalf of a user.</p>
      </div>

      <div id="adding-api-credentials">
        <h3 class="guide--anchor"><a href="#adding-api-credentials">Adding API credentials</a></h3>

        <p>In order to make requests on behalf of the developer, credentials must be entered via the Dashboard which allow Work-API to identify as the developer when making calls to the underlying APIs.</p>

        <p>When setting up the OAuth credentials on the underlying provider, the Work API OAuth callback URI must be provided as a redirect. Failure to do so will mean users are not able to add integrations.</p>

        <% partial('partials/guides/info-panel', locals: { type: 'note' }) do %>
          The Work API OAuth2 redirect URI is: <br><code>https://api.work-api.com/auth/callback</code>
        <% end %>

        <p>For information on adding API credentials to the Work API, see <a href="/guides/create-environment">Create an Environment</a></p>
      </div>

      <div id="adding-integration">
        <h3 class="guide--anchor"><a href="#adding-integration">Adding an Integration</a></h3>

        <p>Once a set of credentials is stored in the WorkAPI database, the user can then connect their accounts to the system.</p> 
      </div>

      <div id="creating-integration-record">
        <h4 class="guide--anchor"><a href="#creating-integration-record">Creating the Integration record</a></h4>

        <p>The first step is to create an integration via the API.</p>
      </div>

      <div id="create-integration-record-example">
        <h5 class="guide--anchor"><a href="#create-integration-record-example">Example</a></h5>

        <pre><code class="language-ruby">token = "&lt;user token&gt;"
client = LivilApi::Service.new(token)

provider = 'gmail'
media_type = 'email'

integration = LivilApi::Integration.new(provider: proivder, media_type: media_type)
created_integration = client.create_integration(integration: integration)

created_integration
# => LivilApi::Integration(provider: 'gmail', media_type: 'email', ...)</code></pre>
      </div>

      <div id="authorize-integration">
        <h3 class="guide--anchor"><a href="#authorize-integration">Authorizing the Integration using OAuth2</a></h3>

        <p>The user must explicitly grant permission for WorkAPI to access their account on the underlying service.</p>

        <p>The standard process to do this is using <a target="_blank" href="https://oauth.net/2/">OAuth2</a>. </p>

        <p>There may be some services which don't support OAuth2 and so the process will be slightly different. That will be covered in documentation for those providers as necessary.</p> 

        <p>The first step of the authorization process is to send the user to a generated URL which allows the user to approve WorkAPI's access and then pass the access tokens back to the WorkAPI.</p>

        <p>The user should be directed to the URI which is returned by this call. They can optionally be redirected automatically using a 302 redirect on the WorkAPI servers.</p>

        <p>Once the process is complete, the user is then able to access their data via the WorkAPI.</p>

        <% partial('partials/guides/info-panel', locals: { type: 'note' }) do %>
          The access and refresh tokens provided by the 3rd party service are not visible to the developer and held only on the WorkAPI servers.
        <% end %>
      </div>

      <div id="authorize-example">
        <h4 class="guide--anchor"><a href="#authorize-example">Example</a></h4>

        <pre><code class="language-ruby">token = '&lt;user token&gt;'
client = LivilApi::Service.new(token)

integration_id = '&lt;ID of previously created integration&gt;' 
return_to = 'https://mydomain.com/success' # the URL to which the user should be redirected after successful authorization

result = client.auth_integration(integration_id: integration_id, return_to: return_to)

result
# => { uri: 'https://accounts.google.com/....' }</code></pre>
      </div>

      <div id="authorize-via-android">
        <h3 class="guide--anchor"><a href="#authorize-via-android">Authorizing the Integration on Android</a></h3>

        <p>Google does not allow authorization of integrations via WebView and so a different route must be taken</p>

        <p>A detailed tutorial on integrating Google Sign-In for Android can be found <a href=" https://developers.google.com/identity/sign-in/android/offline-access">here</a>. </p>

        <p>After authorizing the Android app on the device, the <code>serverAuthCode</code> must be passed to the following URL:</p>

        <pre><code class="language-http">POST https://api.work-api.com/auth/authcode/&lt;integration_id&gt;

Authorization: Bearer &lt;token&gt;
Content-Type: application/x-www-form-urlencoded

code=&lt;code&gt;</code></pre>

        <% partial('partials/guides/info-panel', locals: { type: 'note' }) do %>
          A sample Android app for connecting your device with Work-API can be found on Github, here: <a href="https://github.com/Work-API/android-oauth-sample">https://github.com/Work-API/android-oauth-sample</a>
        <% end %>

        <p>The correct scopes must be specified for the integrations you wish to add to your application.</p>

        <ul>
          <li>Gmail:
            <ul>
              <li>email</li>
              <li>https://mail.google.com/</li>
            </ul>
          </li>

          <li>Google Calendar:
            <ul>
              <li>email</li>
              <li>https://www.googleapis.com/auth/calendar</li>
            </ul>
          </li>

          <li>Google Drive:
            <ul>
              <li>email</li>
              <li>https://www.googleapis.com/auth/drive</li>
            </ul>
          </li>

        </ul>
      </div>

      <%= partial 'partials/guides/next-steps' %>

    </div>
  </section>
</div>
