---
title: About
---

<section class="u-med--bottom">
  <div class="container">

    <div class="row">
      <h2 class="card__title">About</h2>
      <hr>

      <p class="text--grey-4 mb-2">Work-API has a clear objective: Providing real help to Developers when integrating work tools, while ensuring highest Security and Data Privacy standards. How are we different? Well, first off, we do not host any user content and stay out of your applications. The content remains hosted by the providers of the integrations, and our tool just works as a “pipe”. This is important to us and sets us apart from others.  We filled all the holes that exist in the tool provider APIs and connected the tools to each other. Like this we brought all tools on one level and made them work as one.  Lastly, we are offering fair pricing models where developers only pay for what they actually use. This also gives smaller companies the chance to test and try things out. So we are sitting in the same boat: We are striving to provide the best tools for you to make your application as successful as possible.</p>
      <p class="text--grey-4 mb-2">As Developers we felt the pain when integrating work functionalities into an application: We researched all the different documentations, battled with dozens of APIs with contradicting libraries and a myriad of data formats – only to be informed by the provider that the API will be changed again… This frustration led us to build a central and persistent API that abstracts and consolidates all relevant work tools, and offer it to you in the easiest way possible.</p>
      <p class="text--grey-4 mb-2"> We are grateful to see that we can make a difference and that our Work-API proves helpful to Developers. We all are seasoned devs with at least 10 years experience with APIs. As we are growing fast we are always on the lookout for motivated developers with work tool API experience. We have offices in the UK and Germany, and remote work is possible. Contact us at <a href="mailto:jobs@livil.co">jobs@livil.co</a>.  </p>
      <p><img src="/media/img/logo-large.png" alt="Work-API" width="250"></p>
    </div>
  </div>
</section>
