$breakpoint: 580px;

.header {
  position: fixed;
  z-index: 999;
  top: 72px;
  left: 0;
  right: 0;
  height: 42px;
  background-color: $white;

  @media (max-width: $breakpoint) {
    top: 31px;
  }
}

.primary-nav {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.07rem;
  padding: 0 8px;
  background-color: $grey-1;
  transition: all 0.5s ease;
  border-bottom: 1px solid lighten($grey-2,5);
  border-top: 1px solid lighten($grey-2,10);
  .btn { margin-top: 3rem; }

  @media only screen and (max-height: 690px) {
    padding-top: 0;
    padding-bottom: 0;
    .btn { margin-top: 4px; }
  }

  @media (max-width: $breakpoint) {
    padding: 4px;
    font-size: 0.8rem;
  }
}

.primary-nav__link {
  display: inline-block;
  padding: 8px 9px;
  //line-height: 2;
  color: $black;
  text-decoration: none;
  cursor: pointer;
  border-right: 1px solid lighten($grey-2,5);
  &:hover {
    color: $brand-primary;
    transition-delay: none !important;
  }

  @media (max-width: $breakpoint) {
    padding: 4px;
  }
}

@keyframes wipeDown {
  100% { max-height: 400px; }
}

.sub-links {
  overflow: hidden;
  max-height: 0;
}

.sub-links__link {
  position: relative;
  display: block;
  padding-bottom: 8px;
  font-size: 1rem;
  color: $grey-4;
  text-decoration: none;
  text-indent: 4px;
  outline: none !important;
  transition: transform 0.3s ease;
  transition-delay: none !important;
  &:before {
    content: "";
    position: relative;
    top: -4px;
    margin-right: 8px;
    display: inline-block;
    width: 8px;
    height: 1px;
    background-color: $grey-2;
    transition: all 0.3s ease;
  }
  &:hover {
    &:before {
      width: 12px;
      background-color: $black;
    }
  }
  &.is-active {
    color: $black;
    &:before {
      width: 16px;
      background-color: $brand-primary;
    }
  }
}
