.section--counter {
  h2 {
    &:before {
      counter-increment: section;
      content: "00" counter(section);
      margin-bottom: 4rem;
      display: block;
      width: 48px;
      height: 48px;
      border: 1px solid $brand-primary;
      line-height: 48px;
      font-size: 0.7rem;
      text-align: center;
      color: $grey-4;
      letter-spacing: 0.1rem;
    }
  }
  &.section--incrementor {
    h2 {
      &:before {
        display: none;
      }
    }
  }
}